custom.el
elpa
elpaca
eln-cache
history
auto-save-list
url/**
recentf.eld
transient/*
image-dired/*
places.eld
projects.eld
bookmarks.eld
tramp
.DS_Store
.emacs.desktop
.emacs.desktop.lock
.org-id-locations
bookmarks
places
recentf
detached/
eshell/
projects
tree-sitter/
